node_modules/
build/
!hopper-spec/03-build/
hopper-spec/builder/*.pdf
src/generated/
*.o
*.ll
*.log
.DS_Store
benchmarking/battleship
benchmarking/battleship_O0
benchmarking/battleship_c_O0
benchmarking/battleship_c_O2

